<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>

    <h1>App story </h1>
    <div style="text-align: center;">
      <br>
     <h2>Description </h2>
     <p>Node.js, Express, RESTful API , plan and manage the tasks. </p>
     <h2>Architecture  <h2>
      <img src="images/crud-express-mongo.png" alt="Architecture CRUD App" style="width:500px;height:300px;">
     <h2>Tech stack </h2>
     <ul >
      <li><h4>Front-end</h4>
        <ul>
        <li>HTML5, CSS3</li>
        </ul>
      </li>
      <li><h4>Back-end</h4>
        <ul>
        <li>Template engine : EJS</li>
        <li> Express, Node.js, ES6</li>
        </ul>
      </li>
      <li><h4>Database</h4>
        <ul>
        <li> MongoDB</li>
        <li> kindly check .env file </li>
        </ul>
      </li>
      <li><h4>Deployment</h4>
        <ul>
        <li> Heroku</li>
        </ul>
      </li>
       <li><h4>Tools</h4>
        <ul>
        <li> Atom, SourceTree, Postman, cmd</li>
        <li> Version control system : GIT</li>
        </ul>
      </li>
      <li><h4>Source code</h4>
        <ul>
        <li> <a style="font-weight: bold;color: green" href="https://github.com/JYOTIRMOY0/lecturenotes.git" target="_blank">GitHub</a> </li>
        </ul>
      </li>
    </ul>
  <button id="backButton" onclick="window.history.back()"> Back </button>
    </div>
    
  </body>
  <footer>
    &copy; Jyotirmoy Mukhopadhyay
  </footer>
</html>
